@import url('https://fonts.googleapis.com/css2?family=Smokum&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header{
    font-family: 'Smokum', cursive;
    background-color: rgb(0, 0, 0);
}
.presentacion{
    text-align: center;
}
.titulo{
    text-decoration: underline;
    font-size: 80px;
}
.sed{
    color: white;
}
.tituloDesc{
    font-size: 40px;
}
.slogan{
    font-size: 50px;
}
.guardar{
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px;
    border: 0;
    
}
.card{
    width: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0;
}
.tarjeta{
    padding: 50px;
}
.card-body{
    background-color: rgb(116, 122, 153);

}
.cardTitle{
    font-size: 15px;
}

/* #carrito-contenedor {
    display: none;
    } */

.modal-contenedor{
    display: flex;
    align-items: center;

}
.img-carrito{
    width: 200px;
    padding: 20px;


}
